*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2.2rem;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 2.4rem;
  text-align: left;
}

h1 {
  font-family: 'Gudea', sans-serif;
  font-size: 3.6rem;
  font-weight: bold 700;
  line-height: 5rem;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

h3 {
  font-family: 'Gudea', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  color: #4F4C4E;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h5 {
  color: #FFFFFF;
  font-family: futura-pt, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

h6 {
  color: #4F4C4E;
  font-family: futura-pt, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.white-text {
  color: #FFFFFF;
  font-weight:normal;
  text-align: center;
}

.black-text {
  color: #000000;
}

.indent {
  margin-left: 10rem;
}

.indent li {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

a {
  color: black;
}

ul.research-3 {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-align: left;
}

a:link {
  text-decoration: none;
}

p {
  font-size: 1.6rem;
  text-align: left;
}

ul {
  list-style:none;
}

hr {
  border-width: 1px;
  color: #000000;
}

.white-link {
  color: #FFFFFF;
}

.teal-link {
  color: #408281;
}

.container {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.teal-button {
  background-color: #408281;
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 3rem;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.center-btn {
  text-align: center;
}

input, textarea {
  font-family: inherit;
  margin: 1rem;
  padding: 1rem;
  width: 60%;
}

.teal-button a {
  color: #FFFFFF;
}

.white-button {
  background-color: #FFFFFF;
  border: none;
  border-radius: 10px;
  display: inline-block;
  font-family: futura-pt, sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.white-button a {
  color: #408281;
}

.grey-caps {
  color: #777777;
  font-size: 1.4rem;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.home-header {
  background-image: url("../images/home-header.jpg");
  background-position: 60% 80%;
}

.hero {
  width: 100%;
}

.hero-text {
  margin: 0 auto;
  padding: 10rem 0;
  text-align: center;
  width: 60%;
}

.featured-content {
  background-image: url("../images/keep-header.jpg");
  background-size: cover;
  height: 60rem;
  text-align: center;
  width: 100%;
}

.featured-text {
  padding: 0 5rem 5rem 5rem;
  text-align: center;
}

.featured-content img {
  width: 50%;
  padding: 5rem;
}

.icon {
  display: block;
  fill: #414040;
  height: 40%;
  margin: 0 auto;
  width: 40%;
}

.logo {
  display: inline-block;
  float: left;
  margin: 3rem 0 2rem 1rem;
  max-width: 7rem;
  text-align: left;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.menu {
  color: black;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  float: right;
  margin: 2rem 1rem 0 0;
  text-transform: uppercase;
  text-align: center;
}

.menu li {
  display: inline-block;
  padding: .5rem;
}

.parallax {
  background-attachment: fixed;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  display:block;
  height: 60vh;
  width: 100%;
}

.skills h4{
  font-weight: normal;
}

.footer {
  background-color: #408281;
  color: #FFFFFF;
  grid-area: footer;
  padding: 5rem;
  text-align: center;
}

.footer p {
  text-align: center;
}

.flex-footer {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.footer-icon {
  fill: white;
  margin: 2rem;
}

.footer-text {
  font-size: 1.4rem;
  text-align: left;
}

.projects {
  margin: auto;
}

.busybus-project, .sonyhall-project, .keep-project {
  position: relative;
  text-align: center;
  width: 100%;
}

.sonyhall-project img, .busybus-project img, .keep-project img {
  width: 100%;
}

.sonyhall-project:hover img {
  opacity: 0.4;
}

.busybus-project:hover img {
  opacity: 0.4;
}

.keep-project:hover img {
  opacity: 0.2;
}

.bb-overlay, .sh-overlay, .keep-overlay {
  font-size: 3rem;
  letter-spacing: .7rem;
  line-height: 3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.busybus-project:hover .bb-overlay {
  opacity: 1;
}

.sonyhall-project:hover .sh-overlay {
  opacity: 1;
}

.keep-project:hover .keep-overlay {
  opacity: 1;
}

.overlay-text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* About Page */

.about-container {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
}

.about-container img {
  width: 100%;
}

.about-text-1, .about-text-2, .about-text-3 {
  padding: 5rem;
}

.about-header {
  background-image: url("../images/about-header.jpg");
  background-position: bottom left;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: about-header;
  height: 60vh;
  width: 100%;
}

.pink {
  background-color:#FF05AA;
  background-size:100% 100%;
  color: #FFFFFF;
  padding: 5rem;
  width: 100%;
}

.about-img-1 {
  background-image: url("../images/about-1.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.about-img-2 {
  background-image: url("../images/about-2.jpg");
  background-size: cover;
  height: 40vh;
}

.about-img-3 {
  background-image: url("../images/about-3.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

/* Contact Page */

.contact-container {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
}

.contact-container img {
  width: 100%;
}

.text-box {
  padding: 5rem;
  text-align: center;
}

.text-box p {
  text-align: center;
}

.contact-header {
  background-image: url("../images/contact-header.jpg");
  background-position: bottom center;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28vh;
  width: 100%;
}

.contact-img {
  background-image: url("../images/about-3.jpg");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

/* Project Pages */

.keep-hero {
  background-image: url("../images/keep-header.jpg");
  background-size: cover;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
}

.sony-header {
  background-image: url("../images/sony-hall/sony-hall-venue.jpg");
  background-size: cover;
  background-position: center;
}

.busybus-header {
  background-image: url("../images/busybus/map-blur.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
}

.project-text h1 {
  margin: 0;
}

.white-link a {
  color: #FFFFFF;
}

.project.container {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
}

.project-container img {
  width: 100%;
}

.lt-grey {
  background-color:#F7F6F6;
  background-size:100% 100%;
  padding: 5rem;
  width: 100%;
}

.grey {
  background-color:#BBBBBB;
  background-size:100% 100%;
  color: #FFFFFF;
  padding: 5rem;
  width: 100%;
}

.teal {
  background-color: #408281;
  background-size:100% 100%;
  padding: 5rem;
  width: 100%;
}

.project-header {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.project-header img {
  width: 60%;
}

.project-header p {
  padding: 2rem;
  text-align: center;
}

.project-text {
  padding-top: 0;
}

.project-text h1 {
  margin-top: 0;
}

.sh-solution {
  background-color: #F7F6F6;
  background-size: 100% 100%;
  padding: 2rem;
}

.strat-img-1, .strat-img-2, .strat-img-3 {
  background-color: #F7F6F6;
  background-size: 100% 100%;
}

.strat-button {
  background-color: #F7F6F6;
  background-size: 100% 100%;
  padding: 2rem;
  width: 100%;
}

.bb-img-1, .bb-comp-analysis {
  background-color: #F7F6F6;
  padding-top: 5rem;
  text-align: center;
}

.bb-img-1 img {
  width: 80%;
}

.bb-solution {
  background-color: #F7F6F6;
}

.bb-user-stories, .bb-stories-btn {
  background-color: #ACD7D6;
}

.bb-user-stories p {
  text-align: left;
}

.bg-test {
  background-color: #ACD7D6;
  padding-bottom: 5rem;
}

.bb-survey-1, .bb-survey-2, .bb-survey-3 {
  padding: 2.5rem 5rem 2.5rem 5rem;
  text-align: center;
}

.bb-survey-btn {
  padding: 2.5rem 5rem 5rem 5rem;
}

.button-spacing {
  margin-top: 5rem;
}

.g-maps, .citymapper, .bb-comp-img, .bb-comp-btn {
  background-color: #F7F6F6;
  padding: 2.5rem 5rem;
  text-align: center;
}

.g-maps p, .citymapper p, .bb-comp-analysis p, .bb-user-research p, .bb-solution p, .bb-problem p, .bb-summary p, .bb-sketches p {
  text-align: left;
}

.bb-comp-img img, .bb-sketch-img img, .bb-visual-img img, .bb-process-img img, .bb-test-img img, .bb-ia-img img {
  width: 100%;
}

.bb-sketches ul, .bb-visual ul {
  font-size: 1.6rem;
  list-style-type: disc;
  text-align: left;
}

.bb-visual-img {
  padding-bottom: 5rem;
}

.bb-prototype-img img {
  width: 60%;
}

.bb-prototype-img {
  padding-bottom: 5rem;
  text-align: center;
}

.grey-bg {
  background-color: #F7F6F6;
}

.bb-user-testing p, .bb-visual p, .bb-ia p, .bb-design-process p, .bb-prototype p {
  text-align: left;
}

.bb-table {
  background-color: #ACD7D6;
  font-size: 1.6rem;
  margin: 0;
  padding: 5rem;
  text-align: left;
  width: 100%;
}

.bb-table td {
  padding: .5rem;
  text-align: left;
}

.secondary li {
  font-size: 1.6rem;
  list-style-type: circle;
}

.summary {
  background-color: #FF05AA;
  margin: 0;
  padding: 5rem;
  width: 100%;
}

.summary p, {
  text-align: left;
}

.roles {
  background-color: #BBBBBB;
  margin: 0;
  padding: 5rem;
  width: 100%;
}

.tools {
  background-color: #408281;
  margin: 0;
  padding: 5rem;
  width: 100%;
}

.project-parallax {
  background-image: url("../images/case-study-parallax.jpg");
  background-position: -50px;
  height: 35rem;
}

.problem {
  background-color: #F7F6F6;
  padding: 5rem;
  text-align: center;
}

.solution {
  padding: 5rem;
  text-align: center;
}

.solution-img {
  background-image: url("../images/keep-logo-background.png");
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.section {
  padding: 5rem;
}

.competitive-analysis {
  background-color: #F7F6F6;
  margin: 0;
  padding: 5rem;
  text-align: center;
}

.competitive-analysis p {
  margin-bottom: 5rem;
}

.competitor {
  height: 7rem;
}

.section-title {
  padding: 5rem;
  text-align: center;
}

.research-1 {
  font-family: 'Gudea', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2.5rem 5rem;
  text-align: center;
}

.research-1 img {
  width: 80%;
}

.research-2 {
  padding: 2.5rem 5rem;
  text-align: center;
}

.research-2 p {
  margin-top: 1rem;
}

#percent {
  font-family: 'Gudea', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1;
  padding:0;
}

.research-3 {
  font-size: 1.6rem;
  padding: 2.5rem 5rem;
  text-align: center;
}

.research-3 ul {
  margin: 0 0 5rem 0;
  padding: 0;
  text-align: left;
}

.personas h3 {
  margin: 0;
}

.personas ul {
  font-size: 1.6rem;
  list-style-type: disc;
}

.persona-1 {
  background-image: url("../images/persona-1-bg.jpg");
  background-size: cover;
  padding: 5rem;
}

.persona-2 {
  background-image: url("../images/persona-2-bg.jpg");
  background-size: cover;
  padding: 5rem;
}

.persona-3 {
  background-image: url("../images/persona-3-bg.jpg");
  background-size: cover;
  padding: 5rem;
}

.persona-1 img, .persona-2 img, .persona-3 img {
  width: 100%;
}

.persona-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.persona-title {
  padding-left: 3rem;
}

.user-stories-1 {
  background-color: #408281;
  color: #FFFFFF;
  padding: 5rem;
  text-align: center;
  width: 100%;
}

.user-stories-2 {
  background-color: #ACD7D6;
  margin: 0;
  padding: 5rem 5rem 2.5rem 5rem;
  width: 100%;
}

.user-stories-3 {
  background-color: #ACD7D6;
  font-size: 1.6rem;
  margin: 0;
  padding: 2.5rem 5rem 5rem 5rem;
  text-align: center;
  width: 100%;
}

.user-stories-3 table {
  align: center;
  border: 2px solid #BBBBBB;
  text-align: left;
}

.user-stories-3 td {
  padding: .5rem;
}

.table {
  height: 20rem;
  overflow: auto;
  text-align: center;
}

.grey-cell {
  background-color: #BBBBBB;
}

.white-cell {
  background-color: #FFFFFF;
}

.user-flows {
  text-align: center;
}

.user-flows img {
  margin: 3rem;
  width: 80%;
}

.wireframes-1 {
  background-color: #FF05AA;
  color: #FFFFFF;
  margin: 0;
  padding: 5rem;
  text-align: center;
  width: 100%;
}

.wireframes-2 {
  background-color: #CCB4B7;
  margin: 0;
  padding: 5rem 5rem 2.5rem 5rem;
  width: 100%;
}

.wireframes-3 {
  background-color: #CCB4B7;
  margin: 0;
  padding: 2.5rem 5rem 5rem 5rem;
  width: 100%;
}

.usability-testing {
  padding: 0 5rem 5rem 5rem;
}

.usability-testing img {
  width: 100%;
}

.usability-testing ol {
  font-size: 1.6rem;
  text-align: left;
}

.usability-testing p {
  font-weight: bold;
}

.branding {
  background-color: #F7F6F6;
  text-align: center;
}

.branding img {
  width: 80%;
}

.typography-1 {
  background-color: #408281;
  color: #FFFFFF;
  margin: 0;
  padding: 5rem;
  text-align: center;
  width: 100%;
}

.typography-2 {
  background-color: #ACD7D6;
  margin: 0;
  padding: 5rem 5rem 2.5rem 5rem;
  width: 100%;
}

.patua {
  font-family: Patua One, Georgia, sans-serif;
  font-size: 2rem;
  font-weight:bold;
}

.roboto {
  font-family: Roboto, Arial, sans-serif;
  font-size: 2rem;
  font-weight:bold;
  padding-top: 2.5rem;
}

.colors {
  text-align: center;
  display:inline-block;
}

div.circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%
}

#blue {
  background: #1B79DD;
}

#grey {
  background: #414040;
}

#white {
  background: #FFFFFF;
  border: 1px solid #000000;
}

#lt-blue {
  background: #96CDF5;
}

#yellow {
  background: #FFDF51;
}

#lt-grey {
  background: #D9D9D9;
}

.colors li {
  display: inline-block;
  padding: 0 2rem 0 2rem;
}

.colors ul {
  padding: 0;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.style-guide {
  background-color: #FF05AA;
  color: #FFFFFF;
  margin: 0;
  padding: 5rem;
  text-align: center;
  width: 100%;
}

.padding-fix {
  padding-top: 1rem;
}

.style-guide-2 {
  text-align: center;
  padding: 5rem 0 5rem 0;
}

.style-guide-2 img {
  width: 80%;
}

.hifi-prototype {
  background-color: #F7F6F6;
  padding: 5rem;
  text-align: center;
}

.hifi-prototype img {
  width: 45%;
}

.pref-test {
  text-align: center;
}

.pref-test img {
  padding: 5rem;
  width: 100%;
}

.usability-testing-2 {
  background-color: #F7F6F6;
  text-align: center;
  padding-bottom: 5rem;
}

.usability-testing-2 img {
  padding: 5rem;
  width: 100%;
}

.text-padding {
  padding: 5rem;
  text-align: center;
}

/* Sony Hall project */

.sh-solution ul {
    font-size: 1.6rem;
    text-align: left;
    list-style-type: circle;
}

.img-spacing {
  padding: 2.5rem 5rem 2.5rem 5rem;
}


/* Tablets: */
@media screen and (min-width: 768px) {

  h1 {
    font-family: 'Gudea', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    line-height: 5rem;
  }

  h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: normal;
  }

  .menu {
    color: black;
    font-family: futura-pt, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    float: right;
    margin: 2rem 5rem 0 0;
    text-transform: uppercase;
    text-align: center;
  }

  .menu li {
    display: inline-block;
    padding: 1rem;
  }

  .logo {
    display: inline-block;
    float: left;
    margin: 3rem 2rem 2rem 2rem;
    max-width: 10rem;
    text-align: left;
  }

  .parallax {
    background-attachment: fixed;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    height: 30vh;
    width: 100%;
  }

  .keep-hero {
    background-image: url("../images/keep-header.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
  }

  .busybus-header {
    background-size: cover;
    height: 70vh;
    position: relative;
    width: 100%;
  }

  .project-img {
    height: 30%;
  }

  .hero-text {
    width: 40%;
  }

  .hero {
    height: 40vh;
  }

  .work-grid {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }

  .featured-content img {
    float: left;
    padding: 2rem;
    width: 90%;
  }

  .featured-content {
    align-content: center;
    align-items: center;
    background-image: url("../images/keep-header.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    text-align: center;
    width: 100%;
  }

  .featured-text {
    text-align: center;
  }

  .skills {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5rem;
  }

  .projects {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;

    margin: 0;
  }

  .busybus-project {
    flex: 1;
    margin: 0 auto;
  }

  .sonyhall-project {
    flex: 1;
    margin: 0 auto;
  }

  .keep-project {
    flex: 1;
    margin: 0 auto;
  }

  .busybus-project img, .sonyhall-project img, .keep-project img {
    height: 100%:
  }

  .bb-overlay, .sh-overlay, .keep-overlay {
    font-size: 4rem;
  }

  .project-header {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .project-header img {
    max-height: 40rem;
    padding: 0;
    width: 90%;
  }

  .project-text {
    width: 60%;
    padding: 1rem;
    text-align: left;
  }

  .project-text p {
    padding: 0;
    text-align: left;
  }

  .solution {
    padding: 5rem;
    text-align: center;
    margin: 0 auto;
    width: 60%;
  }

  .solution-img {
    background-image: url("../images/keep-logo-background.png");
    background-position: center;
    background-size: cover;
    width: 40%;
  }

  .flex-wrap {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

 .flex-container {
   align-items: flex-start;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   margin: 0;
 }

 .flex-box {
   flex-grow: 1;
   padding: 2.5rem;
 }

 .research-1 {
   width: 50%;
 }

 .research-1 img {
   width: 100%;
 }

 .research-2 {
   padding-top: 0;
   width: 50%;
 }

 .research-3 {
   display: flex;
   align-items: center;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 .features {
   width: 50%;
 }

 .frustrations {
   width: 50%;
 }

 .center {
   text-align: center;
 }

 .user-stories-3 table {
   align: center;
   border: 2px solid #BBBBBB;
   margin-left:15%;
   margin-right:15%;
   text-align: left;
   width:70%;
 }

 .branding {
   background-color: #F7F6F6;
   text-align: center;
 }

 .branding img {
   width: 30%;
 }

 .usability-testing p {
   font-weight: bold;
   text-align: center;
 }

.style-guide-2 {
  display: inline-block;
  text-align: center;
}

 .pref-test img {
   width: 60%;
 }

 .center-btn {
   text-align: center;
 }

 .text-padding {
   padding: 5rem 10rem;
 }

}

/* Desktops: */
@media screen and (min-width: 900px) {

  .logo {
    display: inline-block;
    float: left;
    margin: 3rem 2rem 2rem 5rem;
    max-width: 10rem;
    text-align: left;
  }

  .hero  {
    height: 50vh;
  }

  .pink {
    background-size: cover;
    height: 100%;
  }

  .teal {
    background-size: cover;
    height: 100%;
  }

  .grey {
    background-size: cover;
    height: 100%;
  }

  .about-header {
    background-image: url("../images/about-header.jpg");
    background-position: bottom left;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: about-header;
    height: 60vh;
    width: 100%;
  }

  .about-container {
    align-items: center;
    display: grid;
    grid-template-columns: 30% 1fr 1fr 30%;
    grid-template-rows: auto;
    grid-template-areas:
      "about-text-1 about-text-1 about-text-1 about-img-1"
      "about-img-2 about-text-2 about-text-2 about-text-2"
      "about-text-3 about-text-3 about-text-3 about-img-3";
    justify-items: stretch;
  }

  .about-img-1 {
    grid-area: about-img-1;
    height: 100%;
  }

  .about-img-2 {
    grid-area: about-img-2;
    height: 100%;
  }

  .about-img-3 {
    grid-area: about-img-3;
    height: 100%;
  }

  .about-text-1 {
    grid-area: about-text-1;
    padding: 5rem 20%;
  }

  .about-text-2 {
    align-self: center;
    grid-area: about-text-2;
    padding: 5rem 20%;
  }

  .about-text-3 {
    grid-area: about-text-3;
    padding: 5rem 20%;
  }

  .contact-container {
    grid-template-columns: 3fr 1fr;
  }

  .contact-header {
    background-position: bottom center;
    height: 40vh;
    width: 100%;
  }

  .contact-img {
    height: 100%;
  }

  .work-grid {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .project-container {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "pink teal grey"
      "sh-problem sh-problem sh-img-1"
      "sh-solution sh-solution sh-solution"
      "strat-img-1 strat-img-2 strat-img-3"
      "strat-button strat-button strat-button"
      "implement implement implement"
      "sh-giveaway-1 sh-giveaway-2 sh-giveaway-3"
      "conclusion-text conclusion-text conclusion-img"
      ;
    justify-items: stretch;
  }

  .sh-problem {
    grid-area: sh-problem;
  }

  .sh-solution {
    grid-area: sh-solution;
    padding: 5rem;
    text-align: center;
  }

  .stra-img-1 {
    grid-area: stra-img-1;
  }

  .stra-img-2 {
    grid-area: stra-img-2;
  }

  .stra-img-3 {
    grid-area: stra-img-3;
  }

  .sh-img-1 {
    grid-area: sh-img-1;
    justify-self: center;
    padding: 2rem;
    text-align: center;
    width: 70%;
  }

  .strat-button {
    grid-area: strat-button;
  }

  .implement {
    grid-area: implement;
  }

  .conclusion-text {
    grid-area: conclusion-text;
  }

  .conclusion-img {
    grid-area: conclusion-img;
    justify-self: center;
    padding: 2rem;
    text-align: center;
    width: 70%;
  }

  .sh-giveaway-1 {
    grid-area: sh-giveaway-1;
  }

  .sh-giveaway-2 {
    grid-area: sh-giveaway-2;
  }

  .sh-giveaway-3 {
    grid-area: sh-giveaway-3;
  }

  .project-img {
    padding: 1rem;
    width: 35%;
  }

  .bb-container {
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "pink grey teal"
      "bb-problem bb-problem bb-problem"
      "bb-img-1 bb-solution bb-solution"
      "bb-user-research bb-user-research bb-user-research"
      "bb-survey-1 bb-survey-2 bb-survey-3"
      "bb-survey-btn bb-survey-btn bb-survey-btn"
      "bb-comp-analysis bb-comp-analysis bb-comp-analysis"
      "g-maps citymapper bb-comp-img"
      "bb-comp-btn bb-comp-btn bb-comp-btn"
      "bb-user-stories bb-table bg-test"
      "bb-sketches bb-sketches bb-sketch-img"
      "bb-test-img bb-user-testing bb-user-testing"
      "bb-visual bb-visual bb-visual-img"
      "bb-ia-img bb-ia bb-ia"
      "bb-design-process bb-design-process bb-process-img"
      "bb-prototype bb-prototype bb-prototype-img"
      ;
    justify-items: stretch;
  }

  .bb-stories-btn {
    display: flex;
    align-items: center;
  }

  .bg-test {
    display: flex;
    grid-area: bg-test;
  }

  .bb-user-stories {
    grid-area: bb-user-stories;
  }

  .bb-table {
    grid-area: bb-table;
  }

  .bb-process-img {
    grid-area: bb-process-img;
    margin: auto;
  }

  .bb-design-process {
    grid-area: bb-design-process;
  }

  .bb-comp-img {
    grid-area: bb-comp-img;
  }

  .bb-comp-btn {
    grid-area: bb-comp-btn;
  }

  .g-maps {
    grid-area: g-maps;
  }

  .citymapper {
    grid-area: citymapper;
  }

  .bb-problem {
    grid-area: bb-problem;
  }

  .bb-img-1 {
    grid-area: bb-img-1;
  }

  .bb-img-1 img, .bb-test-img img {
    width: 100%;
  }

  .bb-ia-img img {
    width: 100%;
  }

  .bb-ia-img {
    padding: 2rem;
    text-align: center;
  }

  .bb-solution {
    grid-area: bb-solution;
  }

  .bb-user-research {
    grid-area: bb-user-research;
  }

  .bb-survey-1 {
    grid-area: bb-survey-1;
  }

  .bb-survey-2 {
    grid-area: bb-survey-2;
  }

  .bb-survey-3 {
    grid-area: bb-survey-3;
  }

  .bb-survey-btn {
    grid-area: bb-survey-btn;
  }

  .bb-comp-analysis {
    grid-area: bb-comp-analysis;
  }

  .bb-conclusion {
    grid-area: bb-conclusion;
  }

  .bb-conclusion-img {
    grid-area: bb-conclusion-img;
  }

  .bb-sketches {
    grid-area: bb-sketches;
  }

  .bb-sketch-img {
    grid-area: bb-sketch-img;
    margin: auto;
  }

  .bb-user-testing {
    grid-area: bb-user-testing;
  }

  .bb-test-img {
    grid-area: bb-test-img;
    padding-top: 6rem;
  }

  .bb-visual {
    grid-area: bb-visual;
  }

  .bb-visual-img {
    grid-area: bb-visual-img;
    margin: auto;
  }

  .bb-ia {
    grid-area: bb-ia;
  }

  .bb-ia-img {
    grid-area: bb-ia-img;
  }

  .bb-prototype {
    grid-area: bb-prototype;
  }

  .bb-prototype-img {
    grid-area: bb-prototype-img;
    padding-top: 5rem;
  }

  .bb-prototype-img img {
    width: 50%;
  }

  .keep-hero {
    background-image: url("../images/keep-header.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
  }

  .project-header {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .project-header img {
    max-height: 60rem;
    max-width: 65rem;
    padding: 0;
    width: 100%;
  }

  .project-text {
    width: 30%;
    padding-left: 2rem;
    text-align: left;
  }

  .project-text p {
    padding: 0;
    text-align: left;
  }

  .center-btn {
    padding-top: 2rem;
  }

  .summary {
    background-color: #FF05AA;
    margin: 0;
    padding: 5rem;
    width: 100%;
  }

  .roles {
    background-color: #BBBBBB;
    margin: 0;
    padding: 5rem;
    width: 100%;
  }

  .tools {
    background-color: #408281;
    margin: 0;
    padding: 5rem;
    width: 100%;
  }

  .flex-container {
    align-content: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
  }

  .flex-box {
    flex-grow: 1;
    margin: auto;
    width: 30%;
  }

  .features {
    flex: 1 1 100%;
    width: 50%;
  }

  .frustrations {
    flex: 1 1 100%;
    width: 50%;
  }

  .flex-wrap {
    flex-wrap: nowrap;
    align-items: stretch;
  }

  .project-parallax {
    height: 50vh;
  }

  .solution-img {
    background-image: url("../images/keep-logo-background.png");
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 40%;
  }

  .solution {
    padding: 5rem;
  }

  .section-title {
    padding: 5rem;
  }

  .text-padding {
    padding: 5rem 30rem 5rem 30rem;
  }

  .persona-flex {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .persona-1 {
    background-image: url("../images/persona-1-bg.jpg");
    background-size: cover;
    padding: 5rem;
    flex-grow: 1;
    margin: auto;
    width: 30%;
  }

  .persona-2 {
    background-image: url("../images/persona-2-bg.jpg");
    background-size: cover;
    flex-grow: 1;
    padding: 5rem;
    width: 30%;
  }

  .persona-3 {
    background-image: url("../images/persona-3-bg.jpg");
    background-size: cover;
    flex-grow: 1;
    padding: 5rem;
    width: 30%;
  }

  .personas ul {
    font-size: 1.6rem;
    list-style-type: disc;
    margin-left: .5rem;
  }

  .user-stories {
    align-content: stretch;
    display: flex;
    flex-wrap: nowrap;
    padding: 5rem;
  }

  .user-stories-1 {
    background-color: #408281;
    color: #FFFFFF;
    margin: 0;
    padding-top: 13rem;
    text-align: center;
    width: 30%;
  }

  .user-stories-2 {
    background-color: #ACD7D6;
    margin: 0;
    padding: 5rem;
    width: 30%;
  }

  .user-stories-3 {
    background-color: #ACD7D6;
    font-size: 1.6rem;
    margin: 0;
    padding: 5rem;
    text-align: center;
    width: 40%;
  }

  .user-stories-3 table {
    border: 2px solid #BBBBBB;
    margin: 0;
    text-align: left;
    width: 100%;
  }

  .table {
    height: 20rem;
    overflow: auto;
    text-align: center;
  }

  .flex-row {
    align-items: stretch;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
  }

  .user-flows img {
    margin: 2rem;
    width: 30%;
  }

  .wireframes {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .branding {
    background-color: #F7F6F6;
    padding: 0 5rem 5rem 5rem;
    text-align: center;
  }

  .branding img {
    width: 100%;
  }

  .user-testing {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .typography-1 {
    align-items: stretch;
    padding-top: 11rem;
    width: 34%;
  }

  .typography-2 {
    align-items: stretch;
    width: 33%;
  }

  .style-guide {
    width: 50%;
  }

  .style-guide-2 img {
    width: 50%;
  }

  .style-guide-2 {
    display: flex;
    width: 50%;
  }

  .white {
    background-color: #FFFFFF;
    color: #000000;
  }

  .hifi-prototype p {
    text-align: center;
  }

  .hifi-prototype img {
    width: 20%;
  }

  .pref-test {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
  }

  .pref {
    width: 30%;
  }

  .pref-test img {
    width: 100%;
  }

  .usability-testing-2 {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
  }

  .usability-title {
    order: 2;
    width: 50%;
  }

  .usability-img {
    order: 1;
    padding: 5rem;
  }

  .roboto {
    font-family: Roboto, Arial, sans-serif;
    font-size: 2rem;
    font-weight:bold;
    padding-top: 0;
  }

}
